<nav class="navbar navbar-dark bg-secondary text-white">
   <div class="nav__leftside">
       <div class="nav__leftside--item">USD</div>
       <div class="nav__leftside--item">English</div>
       <div class="nav__leftside--item">
           <a href="#" class="nav__leftside--link">Help</a>
       </div>
   </div>
    <div class="nav--rightside">
        <div class="nav__rightside--item">
            di
            <a href="#" class="nav__rightside--link">Help</a>
        </div>
        <div class="nav__rightside--item">
            <a href="#" class="nav__rightside--link">Help</a>
        </div>

    </div>

</nav>